h1 {font-size: 2.4rem;margin-bottom: 30px;}
.navbar-brand img { height:30px; }
.navbar-dark .navbar-nav .nav-link {color:#fff;}
.navbar-dark .navbar-nav .active .nav-link {color:#fff;}
.bg-blue {background-color:#007EDB;}

.heading{text-align: center;}
.blog-box {text-align: center; margin-bottom: 35px;}
.blog-box h3 { margin:20px 0; font-size:22px; color:#000;}
.blog-box p { color:#666; }
.blog-box span, .posted-on span { font-style: italic; color:#000; }
.blog-box img { width:100%;  max-height: 231px;}
.truncate {
	line-height: 1.5em;
	height: 3em;
	overflow: hidden;
	text-overflow: ellipsis;
	width: 100%;
}
.truncate::after{
	content: "....";
}

.mtb-40 { margin:40px 0; min-height:600px;}

.blog-right h3 {background-color:#000;color: #fff; padding:5px 15px;font-size:20px;}
.detail-img {margin:40px 0px;}


.body-content { min-height:380px; }
.error-404 { text-align: center; }
.error-404 h1{ font-size:10em; }
.service-error {text-align:center; padding:50px 0;}
.service-error h1 { font-size: 3em;text-transform: uppercase;color:#007EDA;}

footer {background-color: #000;color:#fff; padding:20px;}

/*validation*/
.ng-valid[required], .ng-valid.required {border: 1px solid #42A948;}
.error {color:#ff0000;}
.success { color:green; }
.contact-message { text-align: center; }

@media (max-width: 767px) {
	.intro-text {display: none;}
}